name: Test actions scripts
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout ${{ github.ref }} ( ${{ github.sha }} )"
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: "Run tests"
        run: |
            python3 -m pip install uv pytest rich python-gnupg
            uv run pytest -vv